<h1>Login page</h1>
<hr>
<form class="example-form" [formGroup]="loginForm">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Username" formControlName="username">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Password" type="password" formControlName="password">
  </mat-form-field>

  <button type="button" mat-flat-button color="primary" (click)="submit()">Submit</button>
</form>